{% extends 'base.html' %}

{% block content %}
    <div class="container bg-dark text-white">
        <br>
        <h1> What is the purpose of this site?</h1>
        <hr/>
        <p>
            We want to bring more attention to the problems plaguing our oceans. <br>
            This project started due to a class hackathon, and aims to be an educational tool for everyone. <br>
            <br>
            Whether someone is young or old, they should know what kind of impact they are having on our oceans,
            and also what other problems there are, and how to solve them.<br>
            <br>
            The goal of this site is to provide an interactive experience that allows people to learn about
            these problems, e.g. Acidification of our Oceans, and lead them towards more sources of info
            where they can learn more.
            <br>
        </p>
    </div>
{% endblock content %}