{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--First direction is relative to Y and second direction is relative to X-->
<!--Top Left-->
<div style = "position:absolute; left:80px; top:80px;">
    <button style="border:none; background-color: transparent; outline:none;" id="a"><img src="https://cdn.discordapp.com/attachments/801502040727486565/802720337782505492/images.png"></button>
 </div>

 <!--Top Middle-->
 <div style = "position:absolute; left:1000px; top:123px;">
    <button style="border:none; background-color: transparent; outline:none;" id="a"><img src="https://cdn.discordapp.com/attachments/801502040727486565/802720337782505492/images.png"></button>
 </div>

 <!--Middle/Bottom Left/Middle-->
 <div style = "position:absolute; left:500px; top:500px;">
    <button style="border:none; background-color: transparent; outline:none;" id="a"><img src="https://cdn.discordapp.com/attachments/801502040727486565/802720337782505492/images.png"></button>
 </div>

 <!--Bottom Right-->
 <div style = "position:absolute; left:1500px; top:600px;">
    <button style="border:none; background-color: transparent; outline:none;" id="a"><img src="https://cdn.discordapp.com/attachments/801502040727486565/802720337782505492/images.png"></button>
 </div>

 <!--Bottom Middle-->
 <div style = "position:absolute; left:1100px; top:700px;">
    <button style="border:none; background-color: transparent; outline:none;" id="a"><img src="https://cdn.discordapp.com/attachments/801502040727486565/802720337782505492/images.png"></button>
 </div>

 <!--Top Right-->
 <div style = "position:absolute; left:1700px; top:100px;">
    <button style="border:none; background-color: transparent; outline:none;" id="a"><img src="https://cdn.discordapp.com/attachments/801502040727486565/802720337782505492/images.png"></button>
 </div>

 <!--Bottom Left-->
 <div style = "position:absolute; left:100px; top:600px;">
    <button style="border:none; background-color: transparent; outline:none;" id="a"><img src="https://cdn.discordapp.com/attachments/801502040727486565/802720337782505492/images.png"></button>
 </div>


{% endblock content %}
